<h2 class="text-center my-5">{{isEditing? 'Edit' : 'Create'}} Employee </h2>
<div  class="text-danger text-center"*ngIf="errorMessage !=''"> 
    {{errorMessage}}
</div>
<form  *ngIf="errorMessage ===''"(ngSubmit)="onSubmit()"  #employeeForm ="ngForm"class="border rounded p-3 w-50 mb-5 mx-auto">
  <div class="mb-3">
    <label class="form-label">Firstname*</label>
    <input 
      #firstName="ngModel" 
      class="form-control" 
      type="text" 
      name="firstname" 
      [(ngModel)]="employee.firstName" 
      required />
    <div *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)">
      <div class="text-danger" *ngIf="firstName.errors?.['required']">
        First name is required
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Lastname*</label>
    <input 
      #lastName="ngModel" 
      class="form-control" 
      type="text" 
      name="lastname" 
      [(ngModel)]="employee.lastName" 
      required />
    <div *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)">
      <div class="text-danger" *ngIf="lastName.errors?.['required']">
        Last name is required
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Phone*</label>
    <input 
      #phone="ngModel" 
      class="form-control" 
      type="tel" 
      name="phone" 
      [(ngModel)]="employee.phone" 
      required />
    <div *ngIf="phone.invalid && (phone.touched || phone.dirty)">
      <div class="text-danger" *ngIf="phone.errors?.['required']">
        Phone number is required
      </div>
    </div>
  </div>
<div class="mb-3">
  <label class="form-label">Email*</label>
  <input 
    #email="ngModel" 
    class="form-control" 
    type="email" 
    name="email" 
    [(ngModel)]="employee.email" 
    required
    email />
  <div *ngIf="email.invalid && (email.touched || email.dirty)">
    <div class="text-danger" *ngIf="email.errors?.['required']">
      Email is required
    </div>
    <div class="text-danger" *ngIf="email.errors?.['email']">
      Email format is invalid
    </div>
  </div>
</div>


  <div class="mb-3">
    <label class="form-label">Position*</label>
    <input 
      #position="ngModel" 
      class="form-control" 
      type="text" 
      name="position" 
      [(ngModel)]="employee.position" 
      required />
    <div *ngIf="position.invalid && (position.touched || position.dirty)">
      <div class="text-danger" *ngIf="position.errors?.['required']">
        Position is required
      </div>
    </div>
  </div>

  <button class="btn btn-primary" type="submit"[disabled]="employeeForm.invalid">
    {{ isEditing ? 'Edit' : 'Create' }}
  </button>
</form>

